html,
body {
  padding: 0;
  margin: 0;
  direction: rtl;
  font-family: estedad, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: estedad;
  src: url("/font/Estedad-Medium.ttf");
  font-display: block;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

